<div (window:keydown)="onKeyPressed($event)"></div>

<div dir="rtl" *ngIf="question">
  <h1>{{question.question}}</h1>
  <form (ngSubmit)="onSubmit(f)" #questionForm="ngForm">
    <div *ngFor="let a of question.getShuffledAnswers()">
      <label [ngClass]="{ 'right-answer': question.isRightAnswer(a) && question.isSubmitted,
                          'wrong-answer': !question.isRightAnswer(a) && question.isSubmitted && radio.checked}">
        <input [(ngModel)]="question.selectedAnswer"
               name="answer"
               type="radio"
               required
               [value]="a" #radio>
        {{a}}
      </label>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" [disabled]="question.isSubmitted">ענה</button>
      <button type="button" class="btn" [disabled]="!question.isSubmitted" (click)="onNextQuestionPressed()">הבא
      </button>
      <button style="float: left;" type="button" class="btn" (click)="resetQuestions()">שחק שוב עם שאלות שלא הצלחתי
      </button>
    </div>
  </form>
</div>
